body {
    background-color: black
}

@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.ttf') format('truetype');
  }

.container {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

.terminal-text {
    color:white;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 70px;
    margin: 0;
}